# Byte-compiled / optimized / DLL files
__pycache__/

# Jupyter Notebook
.ipynb_checkpoints

# IPython
profile_default/
ipython_config.py

# Virtual Envs
.env*
.venv*
env*/
venv*/

# Testing stuff
test*/
test*.*
